# Keil MDK 编译产物与中间文件
Objects/
Listings/
DebugConfig/
MDK-ARM/Training/
*.htm
*.lnp
*.sct
*.map
*.dep
build_log*.txt
*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.bin
*.build_log.htm
*.htm
*.dep
*.iex
*.sct.bak
*.uvguix.*
JLinkLog.txt

# CubeMX 临时/备份
*.mxbackup

# 系统
Thumbs.db
Desktop.ini
.DS_Store
